.root {
    width: 100%;
    height: 100%;
}

#vote_boss {
    width: 700px; /* Настроим ширину под размер элементов */
    padding: 13px; /* Отступы для рамки */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный тёмный фон для рамки */
    color: white;
    font-size: 48px;
    horizontal-align: center;
    vertical-align: center;
    border-radius: 12px;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

/* настройка прозрачности таблички выбора "да" "нет" */
#vote_boss:not(.active1)
{
    opacity: 0;

}


#text_and_rectangle_container {
    flow-children: down; /* Вертикальное расположение */
    horizontal-align: center;
}

#rectangle_container {
    width: 50%; /* Контейнер для прямоугольников */
    height: 50px;
    flow-children: right; /* Горизонтальное расположение */
    horizontal-align: center;
    margin-top: 10px;
    margin-left: 15%; /* Смещение контейнера вправо */
}

#green_rectangle, #red_rectangle {
    width: 45%; /* Ширина каждого прямоугольника */
    height: 100%;
    horizontal-align: center;
    vertical-align: center;
}

#green_rectangle {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#28502a), to(#87d69533));
    background-size: 100%;
    margin-left: -25%;
    padding: 10px; /* Стандартные отступы */
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
}

#green_rectangle:hover {
    box-shadow: #00ff00 2px 2px 4px 0px;
    brightness: 1.5;
}

#red_rectangle {
    background-color: red;
    margin-left: 25%;
    padding: 10px; /* Стандартные отступы */
    background-image: url("s2r://panorama/images/red_large_off_png.vtex");
}

#red_rectangle:hover {
    box-shadow: #EE204D 2px 2px 4px 0px;
    brightness: 1.5;
}

.button-pressed {
    padding: 5px; /* Уменьшенные отступы для зелёной кнопки при нажатии */
    border-width: 2px;
    border-style: solid;
    border-color: #004d00; /* Темно-зеленый оттенок для границы */
}

.button-pressed-red {
    padding: 5px; /* Уменьшенные отступы для красной кнопки при нажатии */
    border-width: 2px;
    border-style: solid;
    border-color: #800000; /* Темно-красный оттенок для границы */
}

#green_text, #red_text {
    color: white; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    font-family: Radiance;
    font-weight: semi-bold;

}
#vote_boss_text {
    color: white; /* Цвет текста */
    font-size: 34px; /* Размер шрифта */
    font-family: Radiance;
    font-weight: semi-bold;


}